@model ecommaranceWithLayeredArchDomain.Entities.Variant

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Layouts/Layout1.cshtml";
}
<br />
<div class="card">
    @using (Html.BeginForm("CreateVariant", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            <div>
                @if (ViewBag.result != null)
                {
                    if (ViewBag.result == "success")
                    {
                        <div class="alert alert-success">
                            <strong>Başarılı</strong>
                            Ürün Ekleme Başarılı
                        </div>
                    }
                }
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.value , htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.value, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Ürün Ekle</button>
            &nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Detail","Product")" class="link-dark">Ürünler Listesine Dön</a>
        </div>
    }

</div>

